date {
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  font-weight: bold;
}

body {
  /* background-image: url('images/gbgpelago.jpeg');
  background-repeat: no-repeat; */
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.history {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.change {
  display: flex;

  justify-content: center;

  width: 100%;
}

.calendar {
  display: flex;
  justify-content: center;
}

.calendar table tbody {
  background-color: white;
  border-spacing: 0;
  border-collapse: 0;
}

td,
th {
  border: 1px solid black;
  padding: 0;
}

th {
  background-color: cornflowerblue;
}
td {
  background-color: whitesmoke;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

slogan {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

/* Logbook.php */

.vacationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.heroImg {
  height: 200px;
}

.vacationCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.vacationCard {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
}

.headlineBig {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.headlineSmall {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.vacationCard p {
  font-size: 15px;
}

.vacationFactBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  border: 1px solid;
}
